<footer class="page-footer font-small bg-azul pt-2">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Siga-nos nas redes sociais:</h4>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com" target="_blank" class="icofacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com" target="_blank" class="icoinstagran">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com" target="_blank" class="icolinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>

    <div class="footer-copyright bg-laranja text-center py-.5 text-white">
        <span class="text-align">&copy;2021 Copyright: Balaio</span>
    </div>

</footer>