<footer class="fonte-site page-footer font-small bg-azul">


    <div class="container-fluid tamanhoMaximo">
        <div class="row d-flex">
          <div class='col-md-4'></div>
  
            <div class="col-md-4 d-flex justify-content-center align-items-center text-center align-self-center">
                <ul class="mb-2 p-0">
                    <h6 class="mt-2 mb-1">Siga-nos nas Redes Sociais:<br></h6>
                    <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                    <li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
                    <li><i class="fa fa-github-square" aria-hidden="true"></i></li>
                </ul>
            </div>
  
            <div class="col-md-4 d-flex justify-content-end align-items-center">
                <a routerLink="/home" alt="imagem logo">
                    <img src="https://i.imgur.com/jF1YvI7.png?1" width="200" alt="Imagem logo">
                </a>
            </div>
        </div>
  
    </div>
  
    <div class="footer-copyright bg-laranja text-center py-1 text-white">
        <span class="text-align">&copy;2021 Copyright: Balaio S/A.</span>
    </div>
  
  </footer>