<div class="container" *ngFor='let item of listaProdutos'>

    <div class="align-items-center justify-content-center text-center" >
      <img src="{{item.fotoproduto}}" class="img-tamanho">
      <h4 class="mb-5">{{item.nomeproduto}}</h4>
    </div>

    <div>
      <table class="table">
          <thead>
            <tr>
            <th scope="col" colspan="2">Características principais:</th>
            </tr>
          </thead>
        
          <tbody>
            <tr>
              <th>Data de Fabricação</th>
              <td>{{item.dataFabricacao}}</td>
            </tr>
            <tr>
              <th>Data de validade</th>
              <td>{{item.dataValidade}}</td>
            </tr>
            <tr>
              <th>Categoria</th>
              <td>{{item.categoria.palavraChave}}</td>
            </tr>
            <tr>
              <th>Descrição</th>
              <td>{{item.descricaoproduto}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>