.img-produto{
    width: 20rem;
    height: auto;
}

.img-icon {
    width: 3rem;
    height: auto;
}

.p-margin {
    margin-bottom: 0;
}

.borda{
    margin: 1rem;
    border: 1px solid #DFDFDF;
    padding-bottom: 4rem;
}

.card{
    border-radius: 3%;
}

li {
    list-style: none;
}

ul{
    padding: 0;
}

.card-text{
    text-transform: lowercase;
}

