<!-- <script src = " bower_components / angular-zipcode-filter / zipcode.js " > </script> 
<script src = " node_modules / angular-zipcode-filter / zipcode.js " > </script>  -->

<div class="container espaco">
  
  <!-- imagem -->
  <div class="row">
    <div class="col col-md-6">
      <img src="{{produtos.fotoproduto}}" class="img-produto mb-5">
      <!-- <h4 class="mb-5">{{produtos.nomeproduto}}</h4> -->

    <!-- tabela -->
    <table class="table fonte-descricao">
      <thead>
        <th>
          <tr scope="col" colspan="2" >Características principais: </tr>
          <p class="card-text fonte-descricao mt-3 mb-2">{{produtos.descricaoproduto}}</p>
          
        </th>
      </thead>
  
      <tbody>
        <tr>
          <th>Data de Fabricação</th>
          <td>{{produtos.dataFabricacao | date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th>Data de Validade</th>
          <td>{{produtos.dataValidade | date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th>Categoria</th>
          <td>{{produtos.categoria.palavraChave}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- card com preço e botão comprar -->
  <div class="col col-md-6">
    <div class="card mb-5" style="width: auto;">
      <div class="card-body">
        <h4 class="card-title fonte-titulo">{{produtos.nomeproduto}}</h4>
        <h5 class="preco mb-4">{{produtos.valor | currency}}</h5>
        <!-- <p class="card-text fonte-descricao">{{produtos.descricaoproduto}}</p> -->
        <button type="button" href="#" class="btn botao-adicionar btn-block fonte-titulo">Adicionar ao Balaio</button>
        <button type="button" href="#" class="btn btn-info btn-block fonte-titulo" routerLink='/produtos'>Continuar comprando</button>
        <hr>
        <p class="fonte-descricao">Disponibilidade: {{produtos.quantidade}} unid.</p>
        <hr>
        <!-- colocar aqui as informações da pessoa que cadastrou o produto -->
        <h6>Informações do(a) anunciante</h6>
        
        <ul>Nome
          <li>{{produtos.usuario.nome}}</li>
        </ul>

        <ul>e-mail
          <li>{{produtos.usuario.email}}</li>
        </ul>

        <ul>CEP
          <li>{{produtos.usuario.cep}}</li>
        </ul>
        
        <hr>
        <h6>Meios de pagamento</h6>
        
        <ul class="p-margin">Cartões de Crédito
          <li>
            <img src="https://i.imgur.com/ZY5rTMb.png" alt="Cartão de crédito 1" class="img-icon mb-3 mr-3">
            <img src="https://i.imgur.com/3RtkLPG.png" alt="Cartão de crédito 2" class="img-icon mb-3 mr-3">
            <img src="https://i.imgur.com/Urorf2N.png" alt="Cartão de crédito 3" class="img-icon mb-3 mr-3">
            <img src="https://i.imgur.com/JIfxpLT.png" alt="Cartão de crédito 3" class="img-icon mb-3">
          </li>
        </ul>
        
        <ul class="p-margin">Boleto bancário
          <li><img src="https://i.imgur.com/4IT7PPe.png" alt="Boleto Bancário" class="img-icon mb-3">
        </ul>

        <ul class="p-margin">Pix
          <li><img src="https://i.imgur.com/DEY3ui6.png" alt="pix" class="img-icon mb-3">
        </ul>

      </div>
    </div>

  </div>
</div>
