
<div>{{produtos.id}}</div>

<!-- <div class="container">

    <div class="align-items-center justify-content-center text-center" >
      <img src="{{produto.fotoproduto}}" class="img-tamanho">
      <h4 class="mb-5">{{produto.nomeproduto}}</h4>
    </div>

    <div>
      <table class="table">
          <thead>
            <tr>
            <th scope="col" colspan="2">Características principais:</th>
            </tr>
          </thead>
        
          <tbody>
            <tr>
              <th>Data de Fabricação</th>
              <td>{{produto.dataFabricacao}}</td>
            </tr>
            <tr>
              <th>Data de validade</th>
              <td>{{produto.dataValidade}}</td>
            </tr>
            <tr>
              <th>Categoria</th>
              <td>{{produto.categoria.palavraChave}}</td>
            </tr>
            <tr>
              <th>Descrição</th>
              <td>{{produto.descricaoproduto}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div> -->