@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen&display=swap');

.img-produto{
    width: 20rem;
    height: auto;
}

.img-icon {
    width: 3rem;
    height: auto;
}

.p-margin {
    margin-bottom: 0;
}

.borda{
    margin: 1rem;
    border: 1px solid #DFDFDF;
    padding-bottom: 4rem;
}

.card{
    border-radius: 3%;
}

li {
    list-style: none;
}

ul{
    padding: 0;
}

.card-text{
    text-transform: lowercase;
    
}

.fonte-titulo{
    font-family: 'Montserrat', sans-serif;
}

.fonte-descricao{
    font-family: 'Oxygen', sans-serif;
    font-weight: 200;
}

.preco{
    color: #f69733;
    font-weight: 700;
    font-size: 1.5rem;
}

.botao-adicionar{
    background-color: #f69733;
    color: #ffffff
}

.botao-adicionar:hover{
    color: #fff3e6;
    background-color: #fd8421;
    transition: 0.2s;
}