<div class="container-fluid">
<div class="col-md-12">
<div class="row espaco justify-content-center ">
    <h3>Balaio e-commerce:</h3>

    <p>Baseado no Objetivo 11 de Desenvolvimento Sustentável da ONU, o Balaio nasceu com o intuito
        de apoiar as relações econômicas, sociais e ambientais positivas entre as áreas urbanas, peri-urbanas e rurais,
        reforçando o planejamento nacional e regional de desenvolvimento. </p>

    <p>Através de um e-commerce simples e intuitivo, os comerciantes e produtores das zonas rurais
        poderão fazer com que os seus produtos cheguem às cidades com facilidade, gerando empregos, movimentando a
        economia da sua comunidade, tornando-a sustentável e com possibilidade de crescimento. </p>

    <p> Dessa forma a interação entre cidade e zona rural torna-se necessária para o
        desenvolvimento de ambas. Não somente no âmbito econômico, mas também cultural e social.</p>
</div>
<div class="row justify-content-center">
    <h3>Equipe de Desenvolvimento:</h3>
</div>
</div>
</div>


<div class="container px-3 py-3 ">
    <div class="row mb-5 espaco justify-content-center">

        <div class="col mx-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" img src="https://github.com/karooltooledo.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Karoline Toledo</h5>
                    <p class="card-text">Desenvolvedora Java Jr</p>
                    <ul class="d-flex justify-content-center ">
                        <a href="https://www.linkedin.com/in/karoline-toledo-1a76a2153/" target="_blank"
                            class="card-link"> <i class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/karooltooledo" target="_blank" class="card-link"> <i
                                class="fa fa-github-square"></i></a>
                        <a href="mailto:karoltoledo71@hotmail.com" target="_blank" class="card-link"> <i
                                class="fa fa-envelope-square"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mx-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" img src="https://github.com/laisassis.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Laís Assis</h5>
                    <p class="card-text">Desenvolvedora Java Jr</p>
                    <ul class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/la%C3%ADs-assis/" target="_blank" class="card-link"> <i
                                class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/laisassis" target="_blank" class="card-link"> <i
                                class="fa fa-github-square"></i></a>
                        <a href="mailto:laisflor1003@gmail.com" target="_blank" class="card-link"> <i
                                class="fa fa-envelope-square"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mx-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" img src="https://github.com/LeooSato.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Leonardo Sato</h5>
                    <p class="card-text">Desenvolvedor Java Jr</p>
                    <ul class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/leonardo-kenji-sato-0a495a1b7/" target="_blank"
                            class="card-link"> <i class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/LeooSato" target="_blank" class="card-link"> <i
                                class="fa fa-github-square"></i></a>
                        <a href="mailto:karoltoledo71@hotmail.com" target="_blank" class="card-link"> <i
                                class="fa fa-envelope-square"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-2 py-2">
    <div class="row">

        <div class="col mx-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" img src="https://github.com/luccaspiva.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lucas Piva</h5>
                    <p class="card-text">Desenvolvedor Java Jr</p>
                    <ul class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/luccaspiva/" target="_blank" class="card-link"> <i
                                class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/luccaspiva" target="_blank" class="card-link"> <i
                                class="fa fa-github-square"></i></a>
                        <a href="mailto:lucas.piva.dias@gmail.com" target="_blank" class="card-link"> <i
                                class="fa fa-envelope-square"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mx-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" img src="https://github.com/MatheusTabarelli.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Matheus Tabarelli</h5>
                    <p class="card-text">Desenvolvedor Java Jr</p>
                    <ul class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/matheustabarelli/" target="_blank" class="card-link">
                            <i class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/MatheusTabarelli" target="_blank" class="card-link"> <i
                                class="fa fa-github-square"></i></a>
                        <a href="mailto:matheus_tabarelli@outlook.com" target="_blank" class="card-link"> <i
                                class="fa fa-envelope-square"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

