@import url(../../styles.css);

.tamanhoimg{
    height: 220px;
    width: 100%;
}

.alturacard{
    height: 343 !important;
    width: 240 !important;
}

.rodapealtura{
    min-height: 90vh;
}

.card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}