

  <div class="container espaco rodapealtura">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col-md-3">
      <div class="card alturacard">
        <img src="https://i.imgur.com/tthfo7e.jpg" class="card-img-top tamanhoimg" alt="Artesanato de Biscuit">
        <div class="card-body mt-5">
          <h5 class="card-title">Enfeite de vovôs feito com Biscuit.</h5>
          <p class="card-text">R$ 10,00</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
        <div class="card alturacard">
          <img src="https://i.imgur.com/U5TLgp7.jpg" class="card-img-top" alt="Artesanato de Argila">
          <div class="card-body mt-5">
            <h5 class="card-title">Enfeite feito com Argila branca.</h5>
            <p class="card-text">R$ 15,00</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card alturacard">
          <img src="https://i.imgur.com/tthfo7e.jpg" class="card-img-top" alt="Artesanato de Biscuit">
          <div class="card-body mt-5">
            <h5 class="card-title">Enfeite de vovôs feito com Biscuit.</h5>
            <p class="card-text">R$ 10,00</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card alturacard">
          <img src="https://i.imgur.com/tthfo7e.jpg" class="card-img-top" alt="Artesanato de Biscuit">
          <div class="card-body mt-5">
            <h5 class="card-title">Enfeite de vovôs feito com Biscuit.</h5>
            <p class="card-text">R$ 10,00</p>
          </div>
        </div>
    </div>
</div>
      
</div>

