<div class="container espaco rodapealtura">

  <!-- links abaixo do menu -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Artesanato</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Acessórios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Consumíveis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </li>
  </ul>

  <!-- cards para anuncio dos produtos -->
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5" >
    <div class="col-md-3" *ngFor="let item of listaProdutos">
      <div class="card alturacard mb-3" [routerLink]="['/produtos-view', item.id]">
        <img src="{{item.fotoproduto}}" class="card-img-top tamanhoimg" alt="Foto do protudo">
        <div class="card-body text-center p-3">
          <h5 class="card-title">{{item.nomeproduto}}</h5>
          <p class="card-text m-0">{{item.valor | currency}}</p>
          <p class="card-text"> <small>Categoria: {{item.categoria}}</small></p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-danger mr-4" [routerLink]="['/produto-delete', item.id]">Excluir</button>
            <button class="btn btn-success" [routerLink]="['/produto-edit', item.id]">Editar</button>
          </div>
          <!-- <a [routerLink]="['/produto-edit', item.id]" class="text-info mr-3" href="">Editar</a> -->
            <!-- <button class="btn btn-danger" [routerLink]="['/tema-delete', item.id]" >Apagar</button> -->
        </div>
      </div>
    </div>
  </div>


</div>