<nav class="navbar sticky-top navbar-expand-lg navbar-light menu-color fonte-site menu-altura">
  <a class="navbar-brand" href="#"><img src="https://i.imgur.com/jF1YvI7.png?1" height="50rem"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse menu-color" id="navbarSupportedContent">
    <div class="separacao">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link m-0" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link m-0" routerLink='/sobre'>Sobre nós</a>
    </li>
    
    <li>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink"  >
          <!-- <a class="dropdown-item" routerLink='/cadastroprod'>Cadastre Produtos</a> -->
          <a class="dropdown-item" routerLink="/produtos" >Catálogo</a>
          <a class="dropdown-item" routerLink="/vendedor-view" *ngIf="auth.uservend()">Veja Seus Items</a>
        </div>
      </div>
  </li>

  <li>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vender
      </a>
      <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink"  >
        <a class="dropdown-item" routerLink='/cadastroprod'>Cadastre Produtos</a>
        <!-- <a class="dropdown-item" routerLink="/produtos" >Catalogo</a> -->
      </div>
    </div>
</li>


  <li>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Perfil
      </a>
      <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink"  >
        <span class='p-4 text-muted fsize ' *ngIf='auth.deslogado()'>Você está deslogado!</span>
        <a class="dropdown-item" routerLink='/entrar' *ngIf='auth.deslogado()'>Login</a>
        <a class="dropdown-item" routerLink="/cadastro" *ngIf='auth.deslogado()'>Registre-se</a>
        <span class='p-4 text-muted fsize ' *ngIf='auth.logado()'>Você está logado!</span>
        <a class="dropdown-item" *ngIf='auth.logado()' data-toggle="modal" data-target="#exampleModal2" (click)="getuser()">Perfil</a>
        <a class="dropdown-item" routerLink="#" *ngIf='auth.logado()' (click)="sair()" >Sair</a>
      </div>
    </div>
</li>

<li>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Balaio
      <!-- <img src="https://i.imgur.com/LrfId9o.png"  height="30px"> -->
    </a>
    <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink">
      <span class='p-4 text-muted fsize ' >Seu Balaio está vazio!</span>
      <a class="dropdown-item" routerLink="/produtos">Adicionar produtos</a>
      <span class='p-4 text-muted fsize ' *ngIf='auth.logado()'>Você está logado!</span>
      <a class="dropdown-item" routerLink='#' *ngIf='auth.logado()'>Balaio</a>
    </div>
  </div>
</li>
    </ul>
  </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Perfil de {{}}</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class="text-center"><img [src]="userlogado.foto" class="img-user"></div>

              <div class="form-group mt-5 fonte-site">
                  <label for="nome">Nome</label>
                  <input class="form-control" type="text" name="nome" id="nome"
                  placeholder="Digite seu nome" required [(ngModel)]='userlogado.nome'>
              </div>

              <div class="form-group fonte-site">
                  <label for="usuario">Usuário</label>
                  <input class="form-control" type="email" name="usuario" id="usuario"
                  placeholder="Digite seu usuário" required [(ngModel)]='userlogado.usuario'>
              </div>
              
              <div class="form-group d-flex">
                  <div class="w-50 mr-5">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <input class="form-control" type="date" name="dataNascimento" id="dataNascimento" placeholder="Digite sua data de Nascimento" required [(ngModel)]='userlogado.dataNascimento'>
                  </div>
                
                  <div class="w-50">
                    <label for="CPF">CPF</label>
                    <input class="form-control" type="number" name="cpf" id="cpf" placeholder="Digite seu CPF" required [(ngModel)]='userlogado.cpf'>                        
                  </div>
                </div>

              <div class="form-group d-flex">
                  <div class="w-50 mr-5">
                    <label for="CEP">CEP</label>
                    <input class="form-control" type="number" name="CEP" id="CEP" placeholder="Digite seu CEP" required [(ngModel)]='userlogado.cep'>
                  </div>
                
                  <div class="w-50">
                    <label for="numero">Número</label>
                    <input class="form-control" type="number" name="numero" id="numero" placeholder="Digite seu número residencial" required [(ngModel)]='userlogado.numcasa'>
                  </div>
                </div>

                <div class="form-group d-flex">
                  <div class="w-50 mr-5">
                      <label for="complemento">Complemento</label>
                      <input class="form-control" type="complemento" name="complemento" id="complemento"
                      placeholder="Digite seu Complemento" [(ngModel)]='userlogado.complemento'>
                  </div>
                
                  <div class="w-50">
                      <label for="telefone">Telefone</label>
                      <input class="form-control" type="number" name="telefone" id="telefone"
                      placeholder="Digite seu telefone" [(ngModel)]='userlogado.telefone'>
                  </div>
                </div>
             
              <div class="form-group d-flex">
                  <div class="w-50 mr-5">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" [(ngModel)]="userlogado.senha" placeholder="Digite o sua senha" required>
                  </div>
                
                  <!-- <div class="w-50">
                    <label for="confirmSenha">Confirmar senha</label>
                    <input class="form-control" type="password" name="confirmSenha" id="confirmSenha" placeholder="Digite o seu nome completo" required [(ngModel)]="userlogado.senha">
                  </div> -->
                </div>
                <div class="w-50">
                  <label for="confirmSenha">Digite seu email</label>
                  <input class="form-control" type="email" name="emailuser" id="emailuser" placeholder="Digite aqui seu email!" required [(ngModel)]="userlogado.email">
                </div>
              

              <div class="form-group fonte-site mt-3">
                  <label for="tipo">Tipo de Usuário</label>
                  <select class="form-control" name="tipo" id="tipo" (change)='usuarioTipo($event)'>
                      <option>Selecione um tipo de usuário:</option>
                      <option value="vendedor">Vendedor</option>
                      <option value="comprador">Comprador</option>
                      <option value="administrador">Administrador</option>
                  </select>
              </div>

              <div class="form-group fonte-site">
                  <label for="descricaouser">Caso seu perfil seja vendedor, descreva seu comércio:</label>
                  <input class="form-control" type="text" name="descricaouser" id="descricaouser"
                  placeholder="Descreva..." [(ngModel)]='userlogado.descricaouser'>
              </div>
              <div class="form-group fonte-site">
                <label for="descricaouser">Link da sua foto de perfil!</label>
                <input class="form-control" type="text" name="foto" id="foto" placeholder="Digite a url da sua foto" [(ngModel)]="userlogado.foto">
            </div>
          </div>
 
      <div class="modal-footer">
          <button type="submit" class="btn btn-outline-warning" routerLink="/home" data-dismiss="modal">Cancelar</button>
          <button (click)="putuser()" type="submit" class="btn btn-outline-info" data-dismiss="modal">Save</button>
          <button (click)="putuser()" type="submit" class="btn btn-outline-danger" data-dismiss="modal">Deletar Usuario</button>
      </div>
      </div>
    </div>
  </div>   