@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.fonte-site{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    min-width:100%;
    padding:0;
    height:70px
}
.menu-color{
    background-color: #8de2e5;
}
.separacao{
    padding-left: 30%;
}
.margleft{
    margin-left: 10px;
}
.btn-pesquisar {
    background-color: #f69733;
}
.fsize{
    font-size: 0.75rem;
}
li:hover{
    cursor: pointer;
}
.card-size{
    min-width: 13rem !important;
}
@media(max-width:992px){
    .separacao{ 
        padding-left: 0%;
    }
    

}

@media(max-width:400px){
    .fonte-site{ 
        min-width:100%;
    }
    

}

.img-user{
    border-radius:100%;
    height:200px;
}