<nav class="navbar sticky-top navbar-expand-lg navbar-light menu-color fonte-site">
  <a class="navbar-brand" href="#"><img src="https://i.imgur.com/jF1YvI7.png?1" height="50rem"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link m-0" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link m-0" routerLink='/sobre'>Sobre nós</a>
    </li>
    <!-- <li>
      <div class="nav-item dropdown-menu">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Produtos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <button class="btn btn-info mr-3" [routerLink]=['/categorias']></a> -->
          <!-- <a class="dropdown-item" routerLink="/produtos">Produtos</a>
          <a class="dropdown-item" routerLink="/cadastrarprod">Cadastrar Produtos</a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <!-- <a class="dropdown-item" routerLink='/categorias'></a> -->
      <!-- </div>
    </div>
  </li> -->
    </ul>

    <div class="nav-item dropdown pr-3">
      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://i.imgur.com/bA1cywY.png" alt="Carrinho de compras" height="50rem">
      </a>
      <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink"  >
        <span class='p-4 text-muted fsize ' *ngIf='auth.deslogado()'>Você esta deslogado!</span>
        <a class="dropdown-item" routerLink='/entrar' *ngIf='auth.deslogado()'>Login</a>
        <a class="dropdown-item" routerLink="/cadastro" *ngIf='auth.deslogado()'>Registre-se</a>
        <span class='p-4 text-muted fsize ' *ngIf='auth.logado()'>Você esta logado!</span>
        <a class="dropdown-item" routerLink='#' *ngIf='auth.logado()'>Carrinho</a>
        <a class="dropdown-item" routerLink="#" *ngIf='auth.logado()'>Perfil</a>
        <a class="dropdown-item" routerLink="#" *ngIf='auth.logado()' >Sair</a>
      </div>
    </div>

    <div class="nav-item dropleft ">
      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://i.imgur.com/LrfId9o.png" alt="Carrinho de compras" height="50rem">
      </a>
      <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink"  >
        <span class='p-4 text-muted fsize ' >Seu balaio está vazio</span>
        <a class="dropdown-item" routerLink="/produtos">Adicionar produtos</a>
        <span class='p-4 text-muted fsize ' *ngIf='auth.logado()'>Você esta logado!</span>
        <a class="dropdown-item" routerLink='#' *ngIf='auth.logado()'>Carrinho</a>
      </div>
    </div>
  </div>
</nav>