@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.fonte-site{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.end-align{
    padding-left: 60vw;
}

.menu-color{
    background-color: #8de2e5;
    height: 70px;
    width:100%;
}
.margleft{
    margin-left: 10px;
}
.btn-pesquisar {
    background-color: #f69733;
}
.fsize{
    font-size: 0.75rem;
}

.input-size {
    height: 25px;
    min-width: auto;
    width:250px;
    max-width: 350px;
    padding-left: 35px;
}
.card-size{
    min-width: 13rem !important;
}