 <div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar Produto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja apagar esse produto?</h4>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-4">
        <div class='col-md-4'>
            <div class='card text-center'>
                <div class="card-body">
                    <h5 class='card-title m-0'>{{produto.nomeproduto}}</h5>
                    <small class="text-muted">Produto: {{produto.descricaoproduto}}</small>
                    <p class='card-text mt-3'>{{produto.valor}}</p>
                    <p class='card-text'><small class='text-muted'>{{produto.dataFabricacao | date: 'dd/MM/yyyy'}} às {{produto.dataFabricacao | date: 'HH:mm'}}</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class='btn btn-danger mr-4' routerLink='/produtos'>Não</button>
            <button class='btn btn-success' (click)='apagar()'>Sim</button>
        </div>
    </div>
    
</div>
