<div class="container-fluid">

  <div class="row">

    <div class="col-md-5 ml-5" id="img-bg"></div>

    <div class="col-md-5 mt-5 mb-5">

      <div class="row d-flex justify-content-center ml-5 margemcadastro">
        <div class="col-md-10">

          <h1 class="text-center fonte-site mt-5">Cadastro de produto</h1>

          <div class="form-group mt-5 fonte-site">
            <label for="nome">Nome do produto</label>
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome"
              [(ngModel)]="produto.nomeproduto" />
          </div>
          <div class="form-group d-flex">
          <div class="w-50 mr-5">
            <label for="nome">Categoria</label>
            <select class="form-control custom-select" name="categoria" id="inputGroupSelect01" placeholder="Selecione a categoria"
              [(ngModel)]='idCat' (change)='findByIdCategoria()'>
              <option selected>Selecione a Categoria</option>
              <option *ngFor='let item of listaCategorias' value="{{item.id}}">{{item.descricao}}</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Cadastre uma categoria</button> 
          </div>


          <div class="form-group d-flex">
            <div class="w-50 mr-5">
              <label for="dataNascimento">Data de Fabricação</label>
              <input class="form-control" type="date" name="dataNascimento" id="dataNascimento"
                placeholder="Digite sua data de Fabricação" [(ngModel)]="produto.dataFabricacao" />
            </div>

            <div class="w-50 mr-5">
              <label for="dataNascimento">Data de Validade(Caso tenha*)</label>
              <input class="form-control" type="date" name="dataNascimento" id="dataNascimento"
                placeholder="Digite sua data de Validade" [(ngModel)]="produto.dataValidade" />
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="w-50 mr-5">
              <label for="CEP">Descrição do seu Produto</label>
              <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Digite sua descrição"
                [(ngModel)]="produto.descricaoproduto" />
            </div>

            <div class="w-50">
              <label for="numero">Insira o Link da foto do seu produto</label>
              <input class="form-control" type="text" name="foto" id="foto" placeholder="Digite seu número residencial"
                [(ngModel)]="produto.fotoproduto" />
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="w-50 mr-5">
              <label for="telefone">Valor</label>
              <input class="form-control" type="number" name="valor" id="valor"
                placeholder="Digite o Preço do seu produto" [(ngModel)]="produto.valor" />
            </div>

            <div class="w-50">
              <label for="telefone">Quantidade</label>
              <input class="form-control" type="number" name="quantidade" id="quantidade"
                placeholder="Digite Quantidade do seu Produto" [(ngModel)]="produto.quantidade" />
            </div>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-outline-danger mr-4 px-5" routerLink="/home">Cancelar</button>
            <button type="submit" class="btn btn-outline-info btn-success px-5" (click)='Cadastrar()'>Vender</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de categoria!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="descricao">Descreva a sua categoria!</label>
          <input [(ngModel)]='categoria.descricao' type="text" class="form-control mb-3" id="descricao" placeholder="Digite a descrição da categoria">
          <label for="palavraChave">De um titulo a sua categoria!</label>
          <input [(ngModel)]='categoria.palavraChave' type="text" class="form-control mb-3" id="palavraChave" placeholder="Digite o Titulo da categoria">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Seleção</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="true" [(ngModel)]="categoria.ativo">Ativo</option>
            <option value="false" [(ngModel)]="categoria.ativo">Desativado</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>