
<div class="container mt-5 mb-5">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-secondary">Atualizar produto</h1>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
  
        <div class="form-group">
          <label for="nomeproduto">Nome do produto</label>
          <input [(ngModel)]='produto.nomeproduto' type="text" class="form-control" id="titulo" placeholder="Digite o nome">
        </div>

        <div class="w-50 mr-5">
            <label for="nome">Categoria</label>
            <select class="form-control custom-select" name="categoria" id="inputGroupSelect01" placeholder="Selecione a categoria"
              [(ngModel)]='idCat' (change)='findCategoriaById()'>
              <option selected>Selecione a Categoria</option>
              <option *ngFor='let item of listaCategorias' value="{{item.id}}">{{item.descricao}}</option>
            </select>
          </div>


          <div class="form-group d-flex">
            <div class="w-50 mr-5">
              <label for="dataFabricacao">Data de Fabricação</label>
              <input class="form-control" type="date" name="dataFabricacao" id="dataFabricacao"
                placeholder="Digite sua data de Fabricação" [(ngModel)]="produto.dataFabricacao" />
            </div>

            <div class="w-50 mr-5">
              <label for="dataFabricacao">Data de Validade(Caso tenha*)</label>
              <input class="form-control" type="date" name="dataFabricacao" id="dataFabricacao"
                placeholder="Digite sua data de Validade" [(ngModel)]="produto.dataValidade" />
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="w-50 mr-5">
              <label for="CEP">Descrição do seu Produto</label>
              <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Digite sua descrição"
                [(ngModel)]="produto.descricaoproduto" />
            </div>

            <div class="w-50">
              <label for="numero">Insira o Link da foto do seu produto</label>
              <input class="form-control" type="text" name="foto" id="foto" placeholder="Digite seu número residencial"
                [(ngModel)]="produto.fotoproduto" />
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="w-50 mr-5">
              <label for="telefone">Valor</label>
              <input class="form-control" type="number" name="valor" id="valor"
                placeholder="Digite o Preço do seu produto" [(ngModel)]="produto.valor" />
            </div>

            <div class="w-50">
              <label for="telefone">Quantidade</label>
              <input class="form-control" type="number" name="quantidade" id="quantidade"
                placeholder="Digite Quantidade do seu Produto" [(ngModel)]="produto.quantidade" />
            </div>
        </div>
  
        <div class="d-flex justify-content-center">
          <button class="btn btn-danger mr-4" routerLink='/produtos'>Cancelar</button>
          <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
        </div>
  
      </div>
    </div>
  
  </div>