<div class="container-fluid md-5">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

        <div class="row d-flex justify-content-center m-5">

            <div class="col-md-6">

                <h1 class="text-center m-5 fonte-site">Entrar</h1>

                <div class="form-group fonte-site">
                    <label for="usuario">Usuário</label>
                    <input class="form-control" type="email" name="usuario" id="usuario"
                    placeholder="Digite seu endereço de e-mail" required>
                </div>

                <div class="form-group fonte-site">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha"
                    placeholder="Digite sua senha" required>
                </div>

                <div class="d-flex justify-content-center">
                     <button type="submit" class="btn btn-success">Entrar</button>
                </div>

                <hr class="mt-5 mb-5 fonte-site">
                <p class="text-center">
                    Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
                </p>

            </div>
            
         </div>
        
    </div>
    
    <div class="col-md-5" id="img-bg"></div>
</div>