
<div class="container-fluid espaco">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner container-fluid">
      <div class="carousel-item active" data-interval="10000">
        <img src="https://i.imgur.com/aI0NDVd.png" class="d-block w-100 size-img" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="https://i.imgur.com/WGzL9Sw.png" class="d-block w-100 size-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/63MMHud.gif" title="source: imgur.com" class="d-block w-100 size-img" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container ptop">
  <div class="row justify-content-center align-items-center">
    <div class="mx-auto">
      <h1>
        CATEGORIAS EM TREND
      </h1>
    </div>
  </div>
  <div class="row pt-5 pb-5">
  <div class="col">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://i.imgur.com/Yoj34Bt.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Esculturas</h2>
            <p class="card_text">Peças personalizáveis de acordo com seu estilo, garantindo assim exclusividade nas suas peças.</p>
            <button class="btn card_btn">Saiba Mais</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://i.imgur.com/8yucKRZ.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Óleos Naturais</h2>
            <p class="card_text">Óleos naturais puros, confeccionados em processos manuais sem adição de conservantes.</p>
            <button class="btn card_btn">Saiba Mais</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://i.imgur.com/wp6xKr8.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Bolsas</h2>
            <p class="card_text">Com os materiais de sua preferência e personalizáveis para qualquer ocasião!</p>
            <button class="btn card_btn">Saiba Mais</button>
          </div>
        </div>
      </li>
    </ul>
</div>
</div>